body{
    background-image: url(1123013.jpg);/*https://images5.alphacoders.com/112/1123013.jpg*/
    background-repeat: no-repeat;
    background-size:100% auto;
    background-attachment: fixed;

  }
